
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{box-sizing: border-box;}
header{
   text-align: center; 
   height: 100px;
}
body{
    width: 80%;
    margin: auto;
    background-color: rgb(149, 184, 184);
    
}

h1{font-family: 'Fjalla One', serif;
font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }}





body main section h2{font-family: 'Fjalla One', serif;
color: darkslategrey;}
body main section ul li{font-family: 'Fjalla One', sans-serif;}
body main section ul li span{font-family: 'Fjalla One', sans-serif; color: blanchedalmond; font-size:20px;}

footer{
    background-color: black;
    color: blanchedalmond;
    font-family: 'Fjalla One', serif;
    text-align: center;
    
}